<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangyuning.maoyan">
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许访问摄像头进行拍照-->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!--写sd卡的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--挂载、反挂载外部文件系统-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!--支付相关-->
    <!--接收短信-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!--改变网络状态如是否能联网-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    允许程序执行NFC近距离通讯操作，用于移动支持
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc.hce" />

    <!--第三方登录-->
    <!--允许程序管理AccountManager中的账户列表-->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <!--访问GMail账户列表-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <!-- 蓝牙分享所需的权限 -->
    <!--允许程序连接配对过的蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH" />\
    <!--允许程序进行发现和配对新的蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".app.MaoYanApp"
        android:allowBackup="true"
        android:icon="@mipmap/ww"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--获取key值-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="eb2b3320e3128c221ff26b82d5c8fca6" />
        <!--声明定位服务组件-->
        <service android:name="com.amap.api.location.APSService" />
        <!--欢迎页-->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页面-->
        <activity android:name=".activity.MainActivity"/>
        <!--二维码详情-->
        <activity android:name=".movie.zxing.activity.CaptureActivity" />
        <activity android:name=".movie.qrcode.CreateQRCodeActivity" />
        <!--电影 地区详情-->
        <activity android:name=".movie.area.AreaActivity" />
        <activity android:name=".mine.refesh.RefeshActivity"/>
        <!--玻璃破碎效果的activity-->
        <activity android:name=".mine.breakwindow.BreakWindowActivity"/>
        <!--关灯游戏-->
        <activity android:name=".mine.closelight.CloseLightActivity"/>

        <meta-data
            android:name="design_width"
            android:value="768" />
        <meta-data
            android:name="design_height"
            android:value="1280" />
        <!--地图-->
        <activity android:name=".cinema.map.MapActivity" />

        <!--播放视频-->
        <activity
            android:name=".movie.play.MoviePlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!--我的-订单-待付款-->
        <activity android:name=".mine.order.PayActivity" />
        <!--支付-->
        <activity
            android:name=".mine.order.NormalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".mine.order.CustomRSAPayActivity"
            android:screenOrientation="portrait" />

        <!-- 付钱拉 SDK -->
        <activity
            android:name="com.fuqianla.paysdk.app.FuQianLaActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="ONEPAY_APPKEY"
            android:value="bm5ZHRTdvb89KYD1B6xg0Q" />

        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- 银联支付 -->
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />
        <!--指南针功能-->
        <activity android:name=".mine.compass.CompassActivity"/>
        <!--九宫格解锁-->
        <activity android:name=".mine.deblocking.LockPatternActivity"/>
        <!--我的钱包-->
        <activity android:name=".mine.deblocking.WalletAvtivity"/>
        <!--button-->
        <activity android:name=".mine.button.ButtonActivity"/>

        <!--第三方登录-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>